@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #f4f4f4;
}

.section-form {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 50px;
	width: 500px;
	background: white;
}

.form__title {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 60px;
	line-height: 72px;
	/* identical to box height, or 120% */
	letter-spacing: -0.5px;
	color: rgba(0, 0, 0, 0.87);
}

.form__input {
	position: relative;
	margin-bottom: 30px;
}

.form__input input {
	width: 100%;
	padding: 25px 16px 6px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.6);
	background: #f5f5f5;
	border: none;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	outline: none;
	transition: background 150ms ease-in;
}

.form__input input:hover {
	background: #ececec;
}

.form__input input:focus {
	background: #d1d1d1;
}

.form__input label {
	position: absolute;
	top: 50%;
	left: 16px;
	font-size: 1rem;
	letter-spacing: 0.009rem;
	-webkit-transform: translateY(-100%) scale(0.7);
	-ms-transform: translateY(-100%) scale(0.7);
	transform: translateY(-100%) scale(0.7);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.form__button {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.button {
	position: relative;
	overflow: hidden;
	padding: 10px 15px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #ffffff;
	background: #d32f2f;
	border: none;
	border-radius: 4px;
	-webkit-transition: background 150ms ease-in;
	-o-transition: background 150ms ease-in;
	transition: background 150ms ease-in;
	cursor: pointer;
	outline: none;
}

.button:hover,
.button:focus {
	background: #e24739;
}